extends ../_layout.jade
block hero-id
	- var heroID = "index-hero"
block header-text
	| Helpful Code Hints
block content
	h1 d3.js Examples
	include ../modules/homepage/one.jade
	hr
	br
	include ../modules/homepage/two.jade
	hr
	br
	include ../modules/homepage/three.jade