li.sub
  span
    | About
  ol
    li
        a(href = "#Info") Info
    li
        a(href = "#dependencies") Dependencies
    li
        a(href = "#structure") Structure
    li
      a(href = "#config") Config Files
    li
      a(href = "#assets") Assets
    li
      a(href = "#develop") Develop
    li
      a(href = "#jade") Jade
    li
      a(href = "#sass") Sass
    li
      a(href = '#javascript') Javascript
