.nav-wrapper {
  width: $nav-width;
  display: inline-block;
  
  nav {
    position: fixed;
    top: $header-height;
    left: 0;
    width: $nav-width;
    vertical-align: top;
    margin-top: $base-padding;
    text-align: left;;
    ul {
      li {
        padding-left: .5em;
        padding-right: 2 * $base-padding;
        display: inline-block;	
        text-align: left;
        
        &.sub {
          display: block; 
        }
      }
    }	
  }
}