extends ../../templates/_chart.jade
block chart-extra
  .chart-title Security Risk
block module-id
  - var moduleID = "basicverticalbarchart";
block module-title 
  = "Basic Vertical Bar Chart"
block chart-attrs
  - chartClass = "basic-bar-chart no-legend"
  - chartID = "vertical-bar-2"