extends ../../templates/_chart.jade
block module-id
	- var moduleID = "comparetwo";
block module-title 
	= "Compare Two"
block chart-attrs
	- chartClass = "circle-line-compare-chart"
	- chartID = "circle-compare-chart-1"