extends ../../templates/_chart.jade
block module-id
	- var moduleID = "circlelinecompare";
block module-title 
	= "Circle-Line Comparison Chart"
block chart-attrs
	- chartClass = "circle-line-compare-chart"
	- chartID = "circle-line-compare-chart-1"