extends ../../templates/_chart.jade
block chart-extra
  ul.viz-labels
block module-id
  - var moduleID = "verticalcomparebarchart";
block module-title 
  = "Vertical Comparison Bar Chart"
block chart-attrs
  - chartClass = "basic-bar-chart"
  - chartID = "vertical-bar-1"