extends ../_layout.jade

block hero-id
	- var heroID = "index-hero"
block hero-title
	| ABOUT - Sample Company
block hero-subtitle
	| Sample Text
block content
	include ../modules/homepage/one.jade
	hr
	br
	include ../modules/homepage/two.jade
	hr
	br
	include ../modules/homepage/three.jade