extends ../_layout.jade
block hero-id
	- var heroID = "index-hero"
block header-text
	| Helpful Code Hints
block content
	h1 about
	p This website contains the basic framework for quickly setting up a new project and some sample d3 charts. Please read through the readme for any help.