$header-background-color: #e2e0e0;

$base-text-color: #000000;

$nav-hover-color: $header-background-color;

$footer-background-color: $header-background-color;

$chart-point-color: #4a4a4a;
$chart-text-color: $chart-point-color;