// All colors are defined here

$header-background-color: #e2e0e0;

$base-text-color: #000000;

$nav-hover-color: $header-background-color;

$footer-background-color: $header-background-color;

$chart-point-color: #4a4a4a;
$chart-text-color: $chart-point-color;

$chart-point-highlight-color: rgba(193, 1, 1, 0.74);

$chart-tooltip-color: rgba(74, 74, 74, 0.74);
$chart-tooltip-text-color: rgba(255, 255, 255, 0.78);

$default-lolli-opacity: .8;