// All size variables (other than font-sizes) go here

// Padding
$base-padding: 1em;
$header-padding: $base-padding 2em;
$main-content-padding: $header-padding;
$footer-padding: $header-padding;

// Heights
$footer-height: 3em;

// Widths
$nav-width: 100px;

// Opacity
$base-opacity: .9;