// This file defines the base layout for every web page (that wants to extend this template)
// This is where you link all stylesheets and scripts
doctype html
html
	head
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(rel="stylesheet", type="text/css", href="/assets/css/all.css")
		script(src="/assets/js/vendor/jquery.min.js")
		script(src="/assets/js/vendor/d3.min.min.js")
		script(src="/assets/js/charts/line-chart.min.js")
		script(src="/assets/js/charts/extra-line-chart.min.js")
		script(src="/assets/js/charts/lollipop-chart.min.js")
		script(src="/assets/js/index.min.js")
		// Target this block to append any page specific javascripts
		block head-additon
		title Application Title
	body
		include partials/_header.jade
		include partials/_nav.jade
		// Target this block and set a javascript variable equal to the id that you want the container to have
		// This is useful when you want to have a different ID for the main container on each page
		block main-container-id
		main.main-container(id= mainContainerID)
			.content
				// Target this block to append the main content of the page
				block content
		include partials/_footer.jade