body {
  line-height: 1.3em; }

ul {
  margin-bottom: 2em; }

ol {
  list-style: decimal;
  margin-bottom: 2em; }

li {
  margin-bottom: .25em; }

p {
  margin-bottom: 1em; }

code {
  font-family: monospace;
  padding: 0 .5em;
  background-color: rgba(128, 128, 128, 0.28); }

pre {
  background-color: rgba(128, 128, 128, 0.28);
  padding: 2em 3em;
  width: 80%;
  margin: 2em auto;
  overflow-x: scroll; }
  pre code {
    width: auto;
    display: block;
    background-color: transparent; }
