@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

input[type='radio'] + label, .basic-lollipop-chart .back-arrow, .basic-lollipop-chart line, .basic-lollipop-chart circle, .basic-lollipop-chart .label-post-count, .bubble-timeline-chart .point, a, .nav-wrapper nav ul li {
  -webkit-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out; }

img {
  max-width: 100%;
  max-height: 100vh; }

input[type='radio'] {
  display: none; }
  input[type='radio'] + label {
    padding: 0.2em 1em;
    background-color: #e2e0e0;
    color: #4a4a4a;
    cursor: pointer;
    border-radius: 2px;
    white-space: nowrap; }
    input[type='radio'] + label:hover, input[type='radio'] + label:active {
      background-color: #989191;
      color: #fdfdfd; }
  input[type='radio']:checked + label {
    background-color: #4a4646;
    color: #fdfdfd; }

.basic-line-chart path,
.basic-line-chart line {
  stroke: #4a4a4a;
  fill: transparent; }
.basic-line-chart .axis text {
  fill: #4a4a4a;
  font-size: 0.85em; }
.basic-line-chart .max-min-point {
  stroke-dasharray: 3; }
.basic-line-chart .point-text,
.basic-line-chart circle {
  fill: #4a4a4a; }
.basic-line-chart .max-min-point text {
  fill: #4a4a4a; }
.basic-line-chart .max-min-point line {
  stroke: #4a4a4a; }

.basic-lollipop-chart line, .basic-lollipop-chart circle, .basic-lollipop-chart .axis path,
.basic-lollipop-chart .axis line {
  stroke: #4a4a4a; }
.basic-lollipop-chart .back-arrow {
  cursor: pointer;
  fill-opacity: .2; }
  .basic-lollipop-chart .back-arrow path {
    fill: #4a4a4a; }
  .basic-lollipop-chart .back-arrow:hover {
    fill-opacity: .6; }
.basic-lollipop-chart text {
  font-size: 0.6em;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  cursor: default;
  fill: #4a4a4a; }
.basic-lollipop-chart line {
  stroke-width: 2px;
  stroke-opacity: 0.8;
  stroke: #4a4a4a; }
  .basic-lollipop-chart line.active {
    stroke: rgba(193, 1, 1, 0.74); }
.basic-lollipop-chart circle {
  stroke-width: 0;
  stroke-opacity: .65;
  fill-opacity: .7;
  fill: #4a4a4a; }
  .basic-lollipop-chart circle.active {
    fill: rgba(193, 1, 1, 0.74);
    stroke: rgba(193, 1, 1, 0.74); }
.basic-lollipop-chart .hours-title .day-date {
  fill-opacity: 0.8;
  font-size: 1.2em; }
.basic-lollipop-chart .label-post-count {
  opacity: 0;
  pointer-events: none; }
  .basic-lollipop-chart .label-post-count.active {
    opacity: 1; }
  .basic-lollipop-chart .label-post-count rect {
    fill: rgba(74, 74, 74, 0.74); }
  .basic-lollipop-chart .label-post-count text {
    fill: rgba(255, 255, 255, 0.78); }
    .basic-lollipop-chart .label-post-count text.post-count-lab, .basic-lollipop-chart .label-post-count text.post-count-date {
      opacity: 0.9; }
    .basic-lollipop-chart .label-post-count text.post-count-numb {
      font-size: 0.85em; }
    .basic-lollipop-chart .label-post-count text.post-count-lab {
      font-size: 0.6em; }
    .basic-lollipop-chart .label-post-count text.post-count-date {
      font-size: 0.6em; }
  .basic-lollipop-chart .label-post-count .hours-title .day-date {
    fill: #7d7d7d;
    font-size: 0.85em; }
.basic-lollipop-chart .datum {
  cursor: pointer; }
.basic-lollipop-chart line.active {
  -webkit-transition-timing-function: step-start;
          transition-timing-function: step-start;
  stroke-width: 3px;
  stroke-opacity: 1 !important; }
.basic-lollipop-chart circle.active {
  stroke-width: 18px;
  fill-opacity: 1 !important; }
.basic-lollipop-chart .axes .axis path,
.basic-lollipop-chart .axes .axis line {
  fill: none;
  stroke: rgba(74, 74, 74, 0.3);
  stroke-width: 1px;
  shape-rendering: crispEdges; }
.basic-lollipop-chart .axes text {
  font-size: 0.6em;
  fill: #4a4a4a; }

.circle-line-compare-chart text {
  font-size: 0.6em; }
.circle-line-compare-chart .datum text {
  fill: #4a4a4a; }
.circle-line-compare-chart .legend .monitor-point {
  background-color: #4a4a4a; }
.circle-line-compare-chart .legend .twitter-point {
  background-color: #4a4a4a; }
.circle-line-compare-chart .axes text {
  fill: #4a4a4a; }
.circle-line-compare-chart .label {
  fill: #CACACA; }
.circle-line-compare-chart line {
  stroke: #4a4a4a; }
.circle-line-compare-chart .monitor-point {
  fill: #4a4a4a; }
.circle-line-compare-chart .twitter-point, .circle-line-compare-chart .second-point {
  fill: #979797; }

.basic-bar-chart .chart-title {
  font-weight: 800; }
.basic-bar-chart text {
  font-family: "Courier New", serif;
  color: #4a4a4a; }
.basic-bar-chart .point rect {
  fill: #4a4a4a; }
.basic-bar-chart .viz-labels {
  display: inline-block;
  width: 180px;
  vertical-align: top;
  padding: 0px; }
  .basic-bar-chart .viz-labels li {
    line-height: 13px;
    font-size: 9px;
    text-align: right;
    margin-bottom: 0; }
.basic-bar-chart .viz-content {
  display: inline-block;
  width: calc(100% - 190px);
  vertical-align: top; }
.basic-bar-chart.no-legend .viz-content {
  width: 100%; }
.basic-bar-chart .monitor-point {
  fill: #4a4a4a; }
.basic-bar-chart .twitter-point {
  fill: #979797; }
.basic-bar-chart .point-container {
  fill: rgba(160, 160, 160, 0.1); }
.basic-bar-chart line {
  stroke: #4a4a4a; }
.basic-bar-chart .rel-rect {
  fill: #4a4a4a; }

.block-chart {
  /* Class to style the tooltip */
  /* Category classes for points. The top most category (grouping of points) is 'category-0' and the nth category (bottom most) is 'category-n'. This follows the same order as the array of categories that was passed into to .possibleValues() */
  /* This is the class to style every point */
  /* This is the class to style the active (or highlighted) points. A point is active when one of the points in the same category is highlighted. */ }
  .block-chart .viz-content {
    max-width: 275px;
    margin: 0 auto; }
  .block-chart .category-0 {
    fill: #4a4a4a; }
  .block-chart .category-1 {
    fill: #7d7d7d; }
  .block-chart .category-2 {
    fill: #b0b0b0; }
  .block-chart .category-3 {
    fill: #e3e3e3; }
  .block-chart .point {
    stroke-width: 1px;
    stroke: #ebebeb; }
  .block-chart .active-point {
    stroke: #404040;
    stroke-width: 2px;
    stroke-opacity: .2; }

.tooltip {
  width: auto;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.84);
  color: #4a4a4a;
  border: 1px solid rgba(74, 74, 74, 0.49);
  font-weight: 200; }

.bubble-timeline-chart svg {
  margin-top: 1em;
  margin-bottom: 1em; }
.bubble-timeline-chart .point {
  stroke-width: 0px;
  stroke-opacity: .8;
  fill: #4a4a4a;
  stroke: #4a4a4a;
  cursor: pointer; }
.bubble-timeline-chart .axis path {
  stroke-width: 1px;
  stroke: #4a4a4a;
  fill: none; }
.bubble-timeline-chart ul.legend {
  width: 100%;
  display: block;
  margin-top: 1em; }
  .bubble-timeline-chart ul.legend li {
    border-bottom: 1px solid rgba(74, 74, 74, 0.7);
    padding-left: 0;
    display: block; }
.bubble-timeline-chart .legend-item.current-category {
  font-weight: 800;
  cursor: pointer; }
.bubble-timeline-chart .time-axes {
  font-size: 0.85em;
  fill: #4a4a4a; }
.bubble-timeline-chart .current-active-point,
.bubble-timeline-chart .current-category {
  stroke-width: 3px; }
.bubble-timeline-chart .time-buttons,
.bubble-timeline-chart .risk-buttons {
  width: 60%;
  margin: 0 auto; }
  .bubble-timeline-chart .time-buttons label,
  .bubble-timeline-chart .risk-buttons label {
    text-align: center;
    display: block; }
.bubble-timeline-chart .risk-buttons {
  margin-top: 10px;
  margin-bottom: 20px; }

/* Class to style the tooltip */
.tooltip-block {
  width: auto;
  padding: 0.5em 1em;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(74, 74, 74, 0.2);
  color: #4a4a4a;
  font-weight: 200; }
  .tooltip-block .popover-title {
    padding-top: 0.25em;
    font-weight: 800; }
    .tooltip-block .popover-title h3 {
      margin-bottom: 0; }
  .tooltip-block .popover-content span {
    font-weight: 800; }
  .tooltip-block .label {
    font-weight: 200; }
  .tooltip-block .tooltip-date {
    width: 100%;
    font-weight: 800;
    font-size: 0.85em;
    margin-top: 1em; }

html, body {
  font-family: "Courier New", serif;
  font-size: 16px;
  line-height: 1.3em; }

svg {
  text-rendering: optimizeLegibility; }

h1, h2, h3 {
  font-weight: 800; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em; }

h1 {
  font-size: 2em;
  line-height: 1em; }

h2 {
  font-size: 1.7em;
  line-height: 1em; }

h3 {
  font-size: 1.35em;
  line-height: 1em; }

a {
  text-decoration: none;
  font-weight: 800;
  color: #000000; }
  a:hover {
    font-weight: 200; }

b {
  font-weight: 800; }

code {
  font-family: monospace;
  padding: 0 .5em;
  background-color: rgba(128, 128, 128, 0.28); }

i {
  font-style: italic; }

em {
  font-style: italic; }

mark {
  background-color: rgba(245, 245, 142, 0.61); }

small {
  font-size: 0.6em; }

p {
  margin-bottom: 1em; }

blockquote, .quote {
  position: relative;
  margin: .5em;
  padding: .5em; }
  blockquote:after, .quote:after {
    content: "“";
    width: 1em;
    height: 1em;
    position: absolute;
    left: -.3em;
    top: .4em; }

pre {
  background-color: rgba(128, 128, 128, 0.28);
  padding: 1em 1.5em;
  width: auto;
  margin: 2em auto;
  overflow-x: scroll; }
  pre code {
    width: auto;
    display: block;
    background-color: transparent; }

body {
  position: relative;
  padding-bottom: 6em;
  min-height: calc(100vh - 3em * 2); }

section {
  margin-bottom: 2em; }

main.main-container {
  padding: 1em 2em; }

li {
  margin-bottom: .65em; }

ol {
  list-style: decimal; }

header {
  width: calc(100vw - 4em);
  padding: 1em 2em;
  background-color: #e2e0e0; }
  header span {
    margin-bottom: 6px; }

.nav-wrapper {
  width: 100vw; }
  .nav-wrapper nav {
    width: 100vw;
    text-align: center; }
    .nav-wrapper nav ul {
      width: auto;
      display: inline-block; }
      .nav-wrapper nav ul li {
        display: inline-block;
        padding: 0.5em 1em;
        background-color: transparent;
        margin-bottom: 0; }
        .nav-wrapper nav ul li:hover, .nav-wrapper nav ul li:active, .nav-wrapper nav ul li.selected {
          font-weight: 200;
          background-color: #e2e0e0; }
        .nav-wrapper nav ul li span {
          margin-left: .5em; }
        .nav-wrapper nav ul li.sub {
          font-size: 0.85em;
          font-weight: 200;
          padding-top: 2em;
          padding-left: 0;
          display: none; }
          .nav-wrapper nav ul li.sub:hover, .nav-wrapper nav ul li.sub:active, .nav-wrapper nav ul li.sub.selected {
            background-color: transparent; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  background-color: #e2e0e0;
  line-height: 3em;
  padding: 1em 2em; }

@media only screen and (min-width: 800px) {
  main.main-container {
    display: inline-block;
    width: calc(100vw - 135px - 5em); }

  .nav-wrapper {
    width: 135px;
    display: inline-block;
    vertical-align: top; }
    .nav-wrapper nav {
      width: 135px;
      vertical-align: top;
      margin-top: 1em;
      text-align: left; }
      .nav-wrapper nav ul li {
        padding-left: .5em;
        padding-right: 2em;
        display: inline-block;
        text-align: left; }
        .nav-wrapper nav ul li.sub {
          display: block; }

  pre {
    padding: 2em 3em;
    width: 80%;
    margin: 2em auto;
    overflow-x: scroll; }
    pre code {
      width: auto;
      display: block;
      background-color: transparent; }

  .bubble-timeline-chart svg {
    margin-bottom: 0; }
  .bubble-timeline-chart ul.legend {
    width: 100%;
    display: table;
    margin-top: 1em; }
    .bubble-timeline-chart ul.legend li {
      display: table-cell;
      border-right: 1px solid rgba(74, 74, 74, 0.7);
      border-bottom: 0;
      padding: 0 1em;
      text-align: center; }
      .bubble-timeline-chart ul.legend li:first-of-type {
        padding-left: 0; }
      .bubble-timeline-chart ul.legend li:last-of-type {
        border-right: 0; }
      .bubble-timeline-chart ul.legend li:hover .legend-count {
        text-decoration: underline; }
  .bubble-timeline-chart .time-buttons,
  .bubble-timeline-chart .risk-buttons {
    width: auto; }
    .bubble-timeline-chart .time-buttons label,
    .bubble-timeline-chart .risk-buttons label {
      width: auto;
      display: inline-block; }
  .bubble-timeline-chart .time-buttons {
    display: inline-block; }
  .bubble-timeline-chart .risk-buttons {
    margin: 0;
    float: right;
    vertical-align: top;
    clear: right; } }
  @media only screen and (min-width: 800px) and (max-width: 1000px) {
    .bubble-timeline-chart .risk-buttons {
      float: none;
      margin-top: 0.5em; } }
