html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a, nav ul li {
  transition: all 250ms ease-in-out; }

html, body {
  font-family: "Courier New", serif;
  font-size: 16px; }

h1, h2, h3 {
  font-weight: 800; }

h1 {
  font-size: 2em;
  line-height: 1em; }

h2 {
  font-size: 1.7em;
  line-height: 1em; }

h3 {
  font-size: 1.35em;
  line-height: 1em; }

a {
  text-decoration: none;
  font-weight: 800;
  color: #000000; }
  a:hover {
    font-weight: 200; }

.main-wrapper {
  padding: 1em 2em;
  margin-bottom: 3em; }

header {
  width: calc(100vw - 4em);
  padding: 1em 2em;
  background-color: #e2e0e0; }
  header span {
    margin-bottom: 6px; }

nav {
  width: 100vw;
  text-align: center; }
  nav ul {
    width: auto;
    display: inline-block; }
    nav ul li {
      display: inline-block;
      padding: 0.5em 1em;
      background-color: transparent; }
      nav ul li:hover, nav ul li:active, nav ul li.selected {
        font-weight: 200;
        background-color: #e2e0e0; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  background-color: #e2e0e0;
  line-height: 3em;
  padding: 1em 2em; }

.basic-line-chart path,
.basic-line-chart line {
  stroke: #4a4a4a;
  fill: transparent; }
.basic-line-chart .axis text {
  fill: #4a4a4a; }
.basic-line-chart .max-min-point {
  stroke-dasharray: 3; }
.basic-line-chart .point-text,
.basic-line-chart circle {
  fill: #4a4a4a; }
.basic-line-chart .max-min-point text {
  fill: #4a4a4a; }
.basic-line-chart .max-min-point line {
  stroke: #4a4a4a; }

@media only screen and (min-width: 800px) {
  .main-wrapper {
    display: inline-block;
    width: calc(100vw - 100px - 5em); }

  nav {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    margin-top: 1em; }
    nav ul li {
      padding-left: .5em;
      padding-right: 2em;
      display: block;
      text-align: left; } }
