html, body {
  font-family: $font-serif;
  font-size: $base-font-size;
}

h1, h2, h3 {
  font-weight: $bold;
}

h1 {
  font-size: $title-font-size;
  line-height: $title-line-height;
}

h2 {
  font-size: $medium-title-font-size;
  line-height: $medium-title-line-height;
}

h3 {
  font-size: $small-title-font-size;
  line-height: $small-title-line-height;
}

a {
	@extend %transitions;
	text-decoration: none;
	font-weight: $bold;
	color: $base-text-color;
	&:hover {
		font-weight: $light;	
	}
}