li.sub
  span Charts
  ul
    li
      a(href = "#basicline") Basic Line
    li
      a(href = "#extraline") Extra Line
    li
      a(href = "#lollipop") Basic Lollipop
    li
      a(href = "#circlelinecompare") Circle-Line Comparison
    li
      a(href = "#comparetwo") Compare Two
    li
      a(href = "#basicverticalbarchart") Basic Vertical Bar
    li
      a(href = "#verticalcomparebarchart") Vertical Comparison Bar
    li
      a(href = "#blockchart") Block