body {
	position: relative;
	padding-bottom: $footer-height * 2;
	min-height: calc(100vh - #{$footer-height} * 2);
}


article {
	
}

section {
	
}

figure {
	
}

main {
	&.main-container {
		padding: $main-content-padding;
	}
}