extends ../../templates/_module.jade
block project-id
	- var projectID = "three";
block project-title 
	= "three"
block project-medium
	= "three-medium"
block project-year
	= "2012"
block project-content