extends ../../templates/_chart.jade
block module-id
	- var ID = "one";
block module-title 
	= "Basic Lollipop Bar Chart"
block chart-attrs
	- chartClass = "basic-lollipop-chart"
	- chartID = "lollipop-chart-1"